.socal-der .page_tabs > div > div,
.socal-der .section > div {
  display: inline-block;
  vertical-align: top;
}
.socal-der .main_col {
  width: 95.4%;
}
.socal-der .main_col .page_tabs ul > span {
  position: relative;
  top: 18px;
  float: right;
}
.socal-der h3 span {
  float: none;
}
.socal-der h3 span .right_col h3 span {
  font-weight: normal;
  float: none;
}
.socal-der .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.socal-der .page_tabs hr {
  margin: -1px 0 26px;
  background: #5d9732;
}
.socal-der .page_tabs .ui-state-default,
.socal-der .page_tabs .ui-widget-content .ui-state-default {
  line-height: 12pt;
  font-size: 10.5pt;
  font-weight: bold;
  padding: 6px 2px 4px;
  text-transform: uppercase;
  color: #a6a6a6;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  border: none;
  background-color: #fff;
}
.socal-der .page_tabs .ui-state-active,
.socal-der .ui-widget-content .ui-state-active {
  border: 1px solid #5d9732;
  border-bottom: none;
  background-color: #fff;
}
.socal-der.ui-state-default a:link,
.socal-der .ui-state-default a,
.socal-der .ui-state-default a:visited {
  color: #a6a6a6;
}
.socal-der .page_tabs .ui-state-active a,
.socal-der .ui-state-active a:link,
.socal-der .ui-state-active a:visited {
  color: #333333;
  cursor: default;
}
.socal-der #dashboard .left_col {
  width: 57%;
  position: relative;
}
.socal-der #dashboard .left_col .section .section-title h3 {
  font-size: 12pt;
}
.socal-der #dashboard .left_col .section:after {
  content: ' ';
  border-bottom: 1px dashed #a6a6a6;
  height: 1px;
  display: block;
  margin: 4px 0 -4px 23%;
  width: 75%;
  text-align: right;
}
.socal-der #dashboard .left_col .section:last-of-type:after {
  border-bottom: none;
}
.socal-der .natgas_prices .price h3,
.socal-der .natgas_prices .section-title h3 {
  color: #66a0b9;
}
.socal-der .elec_prices .price h3,
.socal-der .elec_prices .section-title h3 {
  color: #92a753;
}
.socal-der .right_col {
  width: 42%;
  margin-left: -4px;
  border-left: 1px solid #a6a6a6;
}
.socal-der .right_col .section {
  padding-left: 8px;
  border-top: 1px solid #a6a6a6;
}
.socal-der .right_col .section:first-child {
  border-top: none;
}
.socal-der .right_col .section span {
  float: none;
}
.socal-der .labels p {
  font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
  border: none;
  padding: 0;
}
.page_tabs.ui-widget-content {
  border: none;
}
.price {
  width: 16%;
}
.price-graph {
  width: 319px;
  min-height: 93px;
}
#laTemps {
  height: 160px;
  margin-top: 0;
}
#change,
#inventory,
#receipts {
  height: 135px;
}
#editionSelect {
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding-right: 20px;
}
#editionSelect.active a {
  background-color: #fff;
}
#editionSelect .link {
  display: none;
}
#editionSelect a {
  text-transform: none;
  position: absolute;
  left: 15px;
  width: 90px;
  top: 15px;
  text-indent: 0;
  margin: -15px -5px -2px -7px;
  padding: 15px 5px 2px 7px;
  z-index: -1;
}
#editionSelect .s-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a6a6a6;
}
#editionSelect .n-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #a6a6a6;
}
#editionSelect .arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
}
/*Tour plugin styles*/
.popover {
  max-width: 294px;
}
.popover .popover-title {
  border-bottom: 1px solid #5d9732;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.popover .popover-title > .text {
  display: inline-block;
  max-width: 85%;
}
.popover .popover-content {
  padding-top: 0;
}
.popover .popover-content .pbar_wrapper {
  padding-bottom: 9px;
  margin: -1px -14px 0;
}
.popover .popover-content .pbar {
  border-top: 4px solid #5d9732;
  margin: 0;
  text-align: left;
}
/*-----Commentary section styles ----*/
.commentary .left_col {
  width: 70%;
}
.commentary .right_col {
  border-left: none;
  width: 27%;
  margin-left: 22px;
}
.commentary .right_col .blue_top {
  border-top-width: 3px;
  padding-top: 6px;
}
.commentary .right_col .blue_top:first-child {
  margin-top: 8px;
}
.commentary .right_col ul {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.commentary h2 {
  border-top: none;
  color: inherit;
  padding-top: 0;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}
.commentary h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 11pt;
  border: none;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: inherit;
  margin-top: 18px;
  line-height: 1.5em;
}
.commentary p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0;
  margin-top: 14px;
  line-height: 1.75em;
}
.commentary .left_col ol,
.commentary .left_col ul {
  margin-top: 14px;
}
.commentary .right_col h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 19pt;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}
.commentary .right_col p {
  font-size: 9pt;
  line-height: 1.5em;
  margin-bottom: 2px;
}
.commentary section {
  border-bottom: 1px dashed #a6a6a6;
  clear: both;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: auto;
}
.commentary section img {
  display: inline-block;
  float: left;
  margin: 0 10px 10px 0;
  width: 320px;
}
.commentary section:last-of-type {
  border-bottom: none;
}
.commentary section:after {
  content: "";
  display: table;
  clear: both;
}
.commentary article {
  margin-top: 9px;
  padding-top: 9px;
  border-top: 4px solid #5d9732;
}
.commentary article.active header {
  border-bottom: 1px solid #a6a6a6;
}
.commentary article:not(.active) h1 {
  color: #0096d7;
  cursor: pointer;
  padding-top: 0;
}
.commentary article:not(.active) section {
  display: none;
}
.commentary article:not(.active) header div {
  font-size: 10pt;
}
.commentary article:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
.commentary article h1 {
  font-size: 13.5pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: none;
  margin-bottom: 0;
  padding-top: 6px;
}
.commentary article.active h1:first-of-type {
  color: #333333;
  cursor: default;
}
.commentary_pub_date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  color: #a6a6a6;
  font-weight: bold;
}
.pagecontent .main_col .commentary .left_col li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0;
  margin-top: 6px;
  line-height: 1.75em;
}
.pub-date > span:before {
  content: '|';
  margin: 0 6px 0 3px;
}
.pub-date > span:first-child:before {
  content: '';
  margin: 0;
}
.dashboard .notes {
  top: 20px;
  position: relative;
}
.previous {
  line-height: 1.1em;
}
.main_col span .ico_tour {
  margin-top: -4px;
  float: none;
  vertical-align: top;
}
/*----- print styles --------------*/
@media print {
  @page {
    margin: .5in;
  }
  .do-not-print {
    display: none;
  }
  .ui-tabs .ui-tabs-panel.do-not-print {
    display: none !important;
  }
  .pub_title {
    border-top: 5px solid #0096d7;
    border-bottom: 1px solid #0096d7;
    margin-bottom: 8px;
    height: 70px !important;
  }
  header,
  #header,
  .page_tabs > hr {
    display: none;
    height: 0;
  }
  .pub_title img {
    width: 100%;
    margin-bottom: 10px;
  }
  .pub_title h1 {
    position: absolute;
    top: .14in;
    left: .9in;
    font-size: 22pt;
    padding: .2em;
  }
  .pub-date {
    position: absolute;
    top: .525in;
    left: .9in;
    padding: .2em .2em .2em .35em;
    color: #a6a6a6;
  }
  .left_col .section-title,
  .right_col .section-title.left {
    width: .8in;
    border-bottom: none;
  }
  .left_col .graph-container {
    width: 3.2in;
  }
  .load-column {
    width: .7in;
  }
  .load-curve {
    margin-left: 10px;
    width: 2.0in;
  }
  .price-graph {
    width: 2.45in;
  }
  .right_col .graph-container {
    width: 3.25in;
  }
  .socal-der .dashboard h2 {
    line-height: 1.0em;
    font-size: 12pt;
    color: #333333;
  }
  .socal-der .dashboard h3 {
    margin-top: 0;
    color: #333333;
  }
  .socal-der .labels p {
    font-weight: normal;
  }
  .socal-der .main_col {
    width: 7.5in;
  }
  .legend .bars {
    margin-right: 0;
  }
}
.section {
  padding: 6px 0;
}
.section:first-of-type {
  border-top: none;
  padding-top: 0;
}
#dashboard .left_col .section:nth-of-type(5):after {
  border-bottom: 1px solid #a6a6a6;
  margin-left: 0;
  width: 100%;
}
.left_col .section-title,
.right_col .section-title.left {
  width: 21%;
  padding-right: 4px;
  text-align: right;
  border-bottom: none;
}
.left_col .graph-container {
  width: 74%;
  padding-left: 1%;
  border-left: 2px solid;
}
.total .graph-container {
  border-left-color: #333333;
}
.natgas_prices .graph-container {
  border-left: 4px solid #66a0b9;
}
.natgas_prices .graph-container > div,
.section.total .graph-container > div {
  display: inline-block;
  vertical-align: top;
}
.blue_border.bottom {
  padding-bottom: 3px;
}
.blue_border.bottom,
.right_col .section-title {
  border-bottom: 4px solid #0096d7;
  width: 98%;
  margin-bottom: 6px;
}
.right_col .graph-container {
  width: 368px;
}
.load-column {
  width: 77px;
  min-height: 102px;
}
.load-curve {
  width: 247px;
  margin-left: 1%;
  height: 102px;
}
.section .net_imports,
.section .sp15 {
  padding-left: 27px;
}
#elec_imports,
#sp15 {
  height: 125px;
}
.chart_title {
  text-align: left;
  margin-left: 13px;
}
.price_diff .graph-container {
  width: 300px;
}
.price_diff .legend {
  font-size: 10px;
  margin-top: 20px;
  position: relative;
  width: 80px;
  margin-left: -2px;
}
.price_diff .legend .bars {
  margin-right: 1px;
}
.price_diff .legend .bars .year {
  box-shadow: inset 0 0 0 1000px #a6a6a6;
  display: inline-block;
  width: 22px;
  height: 60px;
}
.price_diff .legend .bars .month {
  height: 28px;
  display: inline-block;
  box-shadow: inset 0 0 0 1000px #333333;
  width: 22px;
  margin-top: 28px;
  margin-bottom: 16px;
}
.price_diff .legend .bars .today {
  background-color: #fff;
  border: 1px solid #333333;
  border-radius: 10px;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 65px;
  left: 7px;
}
.price_diff .legend .labels {
  display: inline-block;
  width: 53px;
  line-height: 1.1em;
}
.price_diff .legend .labels .year {
  color: #a6a6a6;
}
.price_diff .legend .labels .month {
  color: #333333;
  margin-top: 4px;
}
.price_diff .legend .labels .day {
  margin-top: 15px;
  color: #333333;
}
.price {
  width: 16%;
  margin-right: 2%;
}
.price-graph {
  width: 308px;
  min-height: 93px;
}
#zones {
  height: 135px;
}
#socal_border {
  height: 90px;
}
.socal-map {
  height: 255px;
  width: 377px;
}
#map {
  position: relative;
}
#map .labels > span {
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  text-align: center;
  color: #4d4d4d;
}
#map .labels > span div {
  line-height: 1em;
}
#map .subtitle {
  display: block;
  color: #666666;
  font-size: 12px;
  margin-top: -3px;
  margin-bottom: 3px;
}
#map .subtitle span {
  padding-right: 7px;
}
#map .subtitle span:last-child {
  padding-right: 0;
}
.dashboard h2 {
  line-height: 1.0em;
  margin-bottom: 4px;
  font-size: 20px;
}
.dashboard h3 {
  line-height: 1.1em;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 2px;
}
.price h3 {
  margin-bottom: 8px;
}
.dashboard p {
  line-height: 1.1em;
  margin-bottom: .5em;
}
.total .labels {
  width: 9%;
  margin-top: 18px;
}
.total .labels p {
  color: #a6a6a6;
}
.total .labels p:first-child {
  color: #333333;
}
