


@media @mobile {
	.accordions {
		&:first-child {
			.accordion-head {
			//	border-top: 0;
			}
		}
	  	&:last-child {
		//	border-radius: 0 0 5px 5px;
	 	}
		.accordion-head {
			cursor: pointer;
			h2 {
				.header-font;
				font-size: 1rem; // 12 pixels
				width: 100%;
				color: @eia-dark-grey;
				border: 0px;
				padding: 7px 0;
				border-top: 1px solid @eia-blue;
				&:first-child {
					border-top: 1px solid @eia-dark-blue;
				}
				cursor: pointer;
			}
			.ico {
				&.expand-collapse {
					float: left;
					margin: 4px 4px 0 0;
					&:before {
						.controls-icon(12px, 12px);
						.icon-remove();
						transform: rotate(45deg)
					}
					&:hover {
						&::before {
							.icon-remove;
						}
					}
				}
			}
			&.is-open {
				.ico {
					&.expand-collapse {
						float: left;
						margin: 4px 4px 0 0;
						&:before {
							.controls-icon(12px, 12px);
							.icon-collapse(@eia-blue);
							transform: rotate(0deg)
						}
						&:hover {
							&::before {
								.icon-remove;
							}
						}
					}
				}
			}
		}

		.accordion-body {
			overflow: hidden;
			height: 0;
			transition: height 200ms ease-in-out;
			font-size: 12px;
			&>.content {
				padding: 1.5rem;
				padding-top: 0;

				&>ul{
					padding: 14px 0 26px 0;
					margin-bottom: 26px;
					border-bottom: dashed 1px #d8d8d8;
					&:last-child {
						border-bottom: none;
						margin-bottom: 26px;
					}
					&:first-child {
						margin-bottom: 0;
					}
					&> li {
						padding: 0 27px;
						&.head {
							.bold;
							margin-top: 12px;
							&:first-child {
								margin-top: 0;
							}
						}
					}
					&.highlight {
						.font;
						background-color: #C6E6F3;
						margin: 0;
						padding: 0;
						width: 100%;
						border-bottom: 1px solid #d8d8d8;
						li {
							&:first-child {
								padding-top: 12px;
							}
							&:last-child {
								padding-bottom: 12px;
							}	
						}
					}
				}
				ul {
					list-style: none;
					margin: 0;
					li {
						.font;
						color: @eia-dark-grey;
						list-style: none;
						a {
							color: @eia-blue;
							font-size: 0.750rem; // 12 pixels
							text-decoration: none;
							&:hover { 
								text-decoration: underline;
							} 
						}
						.number {
							width: 33px;
							display: inline-block;
							&.mer {
								color: #999;
							}
							&.aer {
								color: black;
							}
						}
						.indent {
							margin-left: 35px;
						}
						.formats,
						.source {
							.italic;
						}
						.normal {
							font-style: normal;
							color: #333;
						}
						.release-date {
							.italic;
						}
						.note {
							color: orange;
							.italic;
						}
						.release-schedule {
							.italic;
						}
						.date {
							font-style: normal;
						}
						
					}
				}
				.sub-list {
					list-style-type: none;
					ul {
						margin: 12px 0 0 1.5em;
						list-style-type: none;
						border-bottom: none;
						padding: 0;
						&:last-child {
							padding: 0;
							margin-bottom: 12px;
						}
						li {
							list-style-type: disc;
							border-bottom: none;
							padding: 0;
							margin: 0 0 6px 0;
							ul {
								li {
									&:first-child {
										list-style-type: square;
									}
									ul {
										li {
											&:first-child {
												list-style-type: circle;
											}
											ul {
												li {
													list-style-type: decimal;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.list-item {
					list-style-type: none;
					&>ul {
						//margin: 3px 0 0 0;
						margin-top: 12px;
						//border-top: 12px solid #eee;
						&>li {
							list-style-type: none;
							margin: 3px 0 0 17px;
							//margin-left: 17px;
							&:first-child {
								list-style-type: disc;
							}
		
						}
					}
					&.sub-list {
						ul {
							margin-left: 20px;
						}
					}
				}
				form {
					margin: 8px 0;
					select {
						width: 100px;
					}
					.button {
						position: absolute;
						margin-left: 6px;
						span {
							position: absolute;
							left: -10000px;
							top: auto;
							width: 1px;
							height: 1px;
							overflow: hidden;
						}
					}					
				}
			}
		}


/*
form {
	.button {
		display: none;
	}
}
*/

		.expand-collapse-container {
			.font;
			font-size: 0.750rem; // 12 pixels
			color: @eia-blue;
			cursor: pointer;
			display: table;
			width: 100%;
			.normal;
			text-transform: uppercase;
			.expand-all {
				display: none;
				&.show {
					.right;
					text-align: right;
					padding: 0 12px 4px 0;
					display: table;
					.ico {
						&.expand-collapse {
							float: left;
							margin: 2px 4px 0 0;
							&:before {
								.controls-icon(12px, 12px);
								.icon-remove(@eia-blue);
								transform: rotate(45deg);
							}
							&:hover {
								&::before {
									.icon-remove;
								}
							}
						}
					}
				}
			}
			.collapse-all {
				display: none;
				&.show {
					.right;
					text-align: right;
					padding: 0 12px 4px 0;
					display: table;
					.ico {
						&.expand-collapse {
							float: left;
							margin: 2px 4px 0 0;
							&:before {
								.controls-icon(12px, 12px);
								.icon-collapse(@eia-blue);
								transform: rotate(0deg);
							}
							&:hover {
								&::before {
									.icon-collapse;
								}
							}
						}
					}
				}
			}
		}
	}
	.include {
		color: firebrick !important;
		a {
			color: red !important;
		}
	}
}
/*
@media screen and (min-width: 768px) {
   .accordion-head {
	 padding: 1rem;
	 font-size: 1.2rem;
   }
 }
 */




 