


@media @mobile {
	.accordion-content {
		overflow: hidden;
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		-moz-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		.font;
		color: @eia-dark-grey;
		font-size: 0.750rem; // 12 pixels
		a {
			color: @eia-blue;
			font-size: 0.750rem; // 12 pixels
			text-decoration: none;
			&:hover { 
				text-decoration: underline;
			} 
		}
		&.expanded {
			-moz-transition-duration: 0.3s;
			-webkit-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-moz-transition-timing-function: ease-in;
			-webkit-transition-timing-function: ease-in;
			-o-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
			max-height: 10000px;
			//overflow: hidden;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			&:last-child {
				padding-bottom: 2em;
			}
			li {
				padding: 0 1.6em;
				margin: 4px 0;
				a {
					color: @eia-blue;
					font-size: 0.750rem; // 12 pixels
					text-decoration: none;
					&:hover { 
						text-decoration: underline;
					} 
				}
				&.date {
					.italic;
					color: @eia-dark-grey;
				}
                span {
					&.date {
						.italic;
						color: @eia-dark-grey;
					}
				}
				.additional-formats {
					display: table;
					.right;
					a {
						display: inline;
						.left;
						margin-left: 8px;
						text-decoration: none;
						&:after { 
							content:"";
						}
						&:hover { 
							text-decoration: underline;
						} 
					}
				}
				&.head {
					border-top: 1px solid #ecedee;
					margin-top: 1.6em;
					padding-top: 1.6em;
					&:first-child {
						border-top: none;
						margin-top: 1.6em;
						padding-top: 0;
					}
					.font;
					.bold;
					color: @eia-dark-grey;
					font-size: 0.750rem; // 12 pixels
					a {
						color: @eia-blue;
						font-size: 0.750rem; // 12 pixels
						text-decoration: none;
						&:hover { 
							text-decoration: underline;
						} 
					}
					h2 {
						.font;
						.bold;
						background-color: transparent;
						border: none;
						padding: 0;
						margin: 0;
						color: @eia-dark-grey;
						font-size: 0.750rem; // 12 pixels
						a {
							color: @eia-blue;
							font-size: 0.750rem; // 12 pixels
							text-decoration: none;
							&:after { 
								content:"\00a0\203A";
								&:hover { 
									text-decoration: none;
								} 
							}
							&:hover { 
								text-decoration: underline;
							}
						}
						.additional-formats {
							display: table;
							.right;
							a {
								display: inline;
								.left;
								margin-left: 8px;
								text-decoration: none;
								&:after { 
									content:"";
								}
								&:hover { 
									text-decoration: underline;
								} 
							}
						}
					}						
				}
				ul {
					list-style-type: disc;
					margin: 0 0 1.5em 1.5em;
					padding: .3em 0;
					&:last-child {
						padding-bottom: 1em;
					}
					li {
						.font;
						color: @eia-dark-grey;
						font-size: 0.750rem; // 12 pixels
						margin: 8px 0;
						padding: 0;
						a {
							color: @eia-blue;
							font-size: 0.750rem; // 12 pixels
							text-decoration: none;
							&:after { 
								content:"\00a0\203A";
							}
							&:hover { 
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.accordion {
		margin-bottom: 1.6em;
		h2 {
			.font;
			font-size: 0.750rem; // 12 pixels
			width: 100%;
			color: #fff;
			.bold;
			border: 0px;
			border-bottom: 1px solid #fff;
			padding: 7px 10px 7px 22px;
			background: #00405d;
			cursor: pointer;
			&.active {
				background: #00405d;
	
			}
			.additional-formats {
				.right;
				font-weight: normal;
			}
		}
	
		.expand-all {
			display: none;
			&.show {
				text-align: left;
				font-size: 0.75rem;
				padding: 0 12px 4px 0; // 12px
				color: @eia-blue;
				display: block;
			}
		}
		.collapse-all {
			display: none;
			&.show {
				text-align: left;
				font-size: 0.75rem;
				padding: 0 12px 4px 0; // 12px
				color: @eia-blue;
				display: block;
			}
		}
		.expand-collapse-container {
			.font;
			font-size: 0.75rem;
			color: @eia-blue;
			cursor: pointer;
			display: table;
			width: 100%;
			.normal;
			text-transform: uppercase;
			.expand-all {
				display: none;
				&.show {
					.right;
					text-align: right;
					padding: 0 12px 4px 0;
					display: table;
				}
			}
			.collapse-all {
				display: none;
				&.show {
					.right;
					text-align: right;
					padding: 0 12px 4px 0;
					display: table;
				}
			}
		}
	}


			/*
			.l-row {
				border-bottom: 1px solid #ecedee;
				&.head {
					.semi-bold;
					background-color: #eee;
					border-bottom: 1px solid black;
				}

				&:last-child {
					border-bottom: none;
				}
				.l-full-width-col, // 100%
				.l-narrow-col, // 25%
				//.l-split-narrow-col,
				//.l-split-wide-col,
				.l-one-third-col,
				.l-two-col, // 50%
				//.l-two-third-col
				{
					padding: 12px 24px 12px 10px;
					margin: 0 0 0 0;

				}
			}

			div {
				span {
					&.formats {
						.font;
						width: 100%;
						span {
							display: inline-block;
							font-style: italic;
							font-size: 13px;
						}
						.ico {
							display: inline-block;
							text-indent: 0;
							//padding: 0 0 0 16px;
							margin-left: 8px;
							font-style: normal;
							font-size: 13px;
						}
					}
					&.numbered {
						.bold;
						margin-right: 12px;
					}
					&.zebra-container {
						.font;
						display: block;
						padding: 1em 2em;
						border-bottom: 1px dashed @eia-silver;
						&:last-child {
							border-bottom: none;
						}
					}
					.header {
						.bold;
						width: 100%;
					}
				}
			}

		}

	}
	*/
}		