
.homepage {
    .energy-kids {
        border-top: 4px solid @eia-blue;
        a {
            display: block;
            width: 100%;
            border: none;
            margin-top: -15px;
            img {
                .right;
            }
        }
    }
}