@media @mobile {
    .energy-kids {
        border-top: 4px solid @eia-blue;
        a {
            display: block;
            width: 100%;
            border: none;
//            margin-top: -10px;
            picture {
                float: right;
            }
            .energy-kids-image {
                float: right;
                width: 270px;
                height: 150px;
                border: 3px solid greenyellow;
            }
        }
    }
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
    .energy-kids {
        a {
            .energy-kids-image {
                float: right;
                width: 270px;
                height: 150px;
                border: 3px solid yellow;
            }
        }
    }
}

@media @tablet {
    .energy-kids {
        a {
            .energy-kids-image {
                float: right;
                width: 230px;
                height: 133px;
                border: 3px solid orangered;
            }
        }
    }
}

@media @tablet-landscape {
    .energy-kids {
        a {
            .energy-kids-image {
                float: right;
                width: 270px;
                height: 150px;
                border: 3px solid orange;
            }
        }
    }
}
@media @laptop {
    .energy-kids {
//        border-top: none;
        a {
            display: block;
//            background: url('https://www.eia.gov/global/images/kids_promos/kids-winter.png') no-repeat top right;
            width: 100%;
//            height: 133px;
            border: none;
            margin-top: -10px;
            .energy-kids-image {
                float: right;
                width: 230px;
                height: 133px;
                border: 3px solid red;
            }
        }
    }
}