

@media @mobile {
	.features {
		display: table;
		padding: 22px 0;
		border-bottom: solid 1px #E3E5E6;
		h2 {
			.header-font;
			font-size: 1.5rem * 1.20%;
			margin: 0 0 6px 0;
			padding: 0;
		}
		&>div {
			float: left;
			margin: 0 0 2em;
			width: 100%;
		}
		a {
			width: 100%;
			display: block;
			text-align: center;
			img {
				margin: 1em auto;
				border: 4px solid #fff; 
				outline: 1px solid #dadada;
				width: 270px;
				height: 150px;
				background-color: greenyellow;
			}			
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				line-height: 120%;
				margin: 0;
				padding: 0;
				&.head {
					margin: 8px 0 10px 0;
					padding: 0;
					h3 {
						.font;
						margin: 0;
						padding: 0;
						font-size: 1rem * 1.20%;
						line-height: 1.1em;
						a {
							width: 100%;
							text-align: left;
							display: block;
							color: @eia-blue;
							text-decoration: none;
							.normal;
							font-weight: normal !important;
							&:hover {
								text-decoration: underline;
							}
						} 
					}
				}
			}
		}
	}
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
	.features {
		h2 {
			margin: 0 22px 6px 22px;
		}
		a {
			width: auto;
			display: table;
			float: left;
			img {
				width: 430px; //430x236
				height: 236px;
				background-color: yellow;
				float: left;
				margin: 0 22px 0 0;
			}
		}
		ul {
			float: left;
			width: 60%;
			li {
				width: 100%;
				display: table;
				&.head {
					h3 {
						a {
							width: auto;
						} 
					}
				}
			}
		}
	}
}

@media @tablet {
	.features {
		a {
			img {
				width: 185px; //185x100
				height: 100px;
				background-color: orangered;
			}
		}
	}
}

@media @tablet-landscape {
	.features {
		a {
			img {
				width: 185px; //185x100
				height: 100px;
				background-color: orange;
				margin: 0;
			}
		}
	}
}
@media @laptop {
	.features {
		overflow: hidden;
		margin: 0 0 26px;
		padding: 22px 0 0 0;
		-moz-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 300px;
		max-height: 300px;
		background: transparent url("https://www.eia.gov/global/images/bg/features_bg.jpg") no-repeat top center;
		background-size: cover;
		a {
			img {
				width: 185px; //185x100
				height: 100px;
				background-color: red;
				margin: 0;
			}
		}
		h2 {
			font-size: 1.5rem;
//			margin: 0 22px 6px 22px;
		}
		&>div {
			width: 195px;
//			margin: 0 0 0 22px;
		}
		&>div {
			&:nth-child(2) {
				margin-left: 22px;
			}
		}
		&>div {
			&:nth-child(3) {
				margin-left: 33px;
			}
		}
		&>div {
			&:nth-child(4) {
				margin-left: 33px;
			}
		}
		ul {
			width: 100%;
			li {
				&.head {
					margin: 8px 0 10px 0;
					h3 {
						font-size: 1rem;
					}
				}
			}
		}
	}
}