@media @mobile {
    ul {
        &.visualizations {
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0 0 3em;
            width: 100%;
            display: table;
            .l-col {
                padding: 1.2em;
            }
            li {
                h3 {
                    margin-top: 12px;
                    a {
                        .font;
                        .bold;
                        display: block;
                        font-size: 0.813rem; // 13 pixels
                        line-height: 1.4em;
                        color: @eia-blue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }   
    }
    div {
        &.circle {
            width:100px;
            height:100px;
            margin: 0 auto 10px auto;
            display: block;
            img {
                border-radius: 50%;
                border: 3px solid @eia-silver;
                margin-left: -3px;
            } 
        }
    }                
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
    ul {
        &.visualizations {
            .l-col {
                padding: 20px;
            }
        }
	}
}
@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
    ul {
        &.visualizations {
            .l-col {
                padding: 20px;
            }
            .l-col {
                &:nth-child(3) {
                    clear: right;//border: 3px solid red;        
                }
            }
        }
    }
}
@media @laptop {
    ul {
        &.visualizations {
            margin: 0 0 1em;
            .l-col {
                padding: 0 1.2em 1.2em 1.2em;
                &:first-child {
                    padding-left: 0;
                }
                //&:nth-child(2) {
                    //border: 1px solid silver;
                //}
                //&:nth-child(3) {
                    //border: 1px solid silver;
                //}
                //&:nth-child(4) {
                    //border: 1px solid silver;
                //}
                //&:nth-child(5) {
                    //border: 1px solid silver;
                //}
                &:nth-child(6) {
                    padding-right: 0;
                }
            }
        }  
    }
}
