
	.color-palette {
		.row {
			margin: 20px 0;
			>div {
				margin-bottom: 20px;
			}
		}
	}
	.card {
		margin-bottom: 2em;
	}





	.swatch-wrapper {
		width: 10%;
		text-align: center;
		padding: 12px 0;
		float: left;
		color: #666;
	}
	.swatch-wrapper.base-color {
		.swatch {
			border: 2px solid #000;
		}
		ul.color-swatch-description {
			li {
				color: #333;
				font-weight: bold;
			}
		}
	}
	.swatch {
		height: 90px;
		width: 100%;
		text-align: center;
		padding-top: 40%;
		border-width: 2px;
		border-style: solid;
	}
	/*
	.swatch.hex999999 {
		background-color: #999999;
		border-color: #999999;
		color: #ccc;
	}
	.swatch.hex888888 {
		background-color: #888888;
		border-color: #888888;
	}
	.swatch.hex767676 {
		background-color: #767676;
		border-color: #767676;
	}
	.swatch.hex666666 {
		background-color: #666666;
		border-color: #666666;
		color: #bbb;
	}
	.swatch.hex555555 {
		background-color: #555555;
		border-color: #555555;
	}
	.swatch.hex444444 {
		background-color: #444444;
		border-color: #444444;
	}
	.swatch.hex333333 {
		background-color: #333333;
		border-color: #333333;
		color: #999;
	}
	.swatch.hex222222 {
		background-color: #222222;
		border-color: #222222;
	}
	.swatch.hex111111 {
		background-color: #111111;
		border-color: #111111;
	}
	.swatch.hex000000 {
		background-color: #000000;
		border-color: #000000;
		color: #666;
	}
	.swatch.hexaaaaaa {
		background-color: #aaaaaa;
		border-color: #aaaaaa;
	}
	.swatch.hexb2b2b2 {
		background-color: #b2b2b2;
		border-color: #b2b2b2;
	}
	.swatch.hexbbbbbb {
		background-color: #bbbbbb;
		border-color: #bbbbbb;
	}
	.swatch.hexc3c3c3 {
		background-color: #c3c3c3;
		border-color: #c3c3c3;
	}
	.swatch.hexcccccc {
		background-color: #cccccc;
		border-color: #cccccc;
	}
	.swatch.hexd4d4d4 {
		background-color: #d4d4d4;
		border-color: #d4d4d4;
	}
	.swatch.hexdddddd {
		background-color: #dddddd;
		border-color: #dddddd;
	}
	.swatch.hexe5e5e5 {
		background-color: #e5e5e5;
		border-color: #e5e5e5;
	}
	.swatch.hexeeeeee {
		background-color: #eeeeee;
		border-color: #eeeeee;
	}
	.swatch.hexf6f6f6 {
		background-color: #f6f6f6;
		border-color: #f6f6f6;
	}
	.swatch.hexffffff {
		background-color: #ffffff;
		border-color: #eeeeee;
	}
	*/
	ul.color-swatch-description {
		border: 0;
		margin: 0;
		padding: 0;
		li {
			text-align: center;
			padding: 0;
			list-style: none;
			font-family: "Segoe UI",Helvetica Neue,Tahoma,Arial,sans-serif;
			font-size: .6rem;
			color: #666;
		}
	}







//@eia-dark-blue: darken(@eia-blue, 20%);
.eia-dark-blue.swatch {background-color: @eia-dark-blue; border-color: @eia-dark-blue }
.eia-dark-blue-75.swatch {background-color: @eia-dark-blue-75; border-color: @eia-dark-blue-75 }
.eia-dark-blue-50.swatch {background-color: @eia-dark-blue-50; border-color: @eia-dark-blue-50 }
.eia-dark-blue-25.swatch {background-color: @eia-dark-blue-25; border-color: @eia-dark-blue-25 }
.eia-blue {background-color: @eia-blue; border-color: @eia-blue }
.eia-light-blue-25.swatch {background-color: @eia-light-blue-25; border-color: @eia-light-blue-25 }
.eia-light-blue-50.swatch {background-color: @eia-light-blue-50; border-color: @eia-light-blue-50 }
.eia-light-blue-75.swatch {background-color: @eia-light-blue-75; border-color: @eia-light-blue-75 }
.eia-light-blue.swatch {background-color: @eia-light-blue; border-color: @eia-light-blue }

.eia-dark-green.swatch {background-color: @eia-dark-green; border-color:@eia-dark-green }
.eia-dark-green-75.swatch {background-color: @eia-dark-green-75; border-color: @eia-dark-green-75 }
.eia-dark-green-50.swatch {background-color: @eia-dark-green-50; border-color: @eia-dark-green-50 }
.eia-dark-green-25.swatch {background-color: @eia-dark-green-25; border-color: @eia-dark-green-25 }
.eia-green {background-color: @eia-green; border-color: @eia-green }
.eia-light-green-25.swatch {background-color: @eia-light-green-25; border-color: @eia-light-green-25 }
.eia-light-green-50.swatch {background-color: @eia-light-green-50; border-color: @eia-light-green-50 }
.eia-light-green-75.swatch {background-color: @eia-light-green-75; border-color: @eia-light-green-75 }
.eia-light-green.swatch {background-color: @eia-light-green; border-color: @eia-light-green }

.eia-dark-red.swatch {background-color: @eia-dark-red; border-color: @eia-dark-red }
.eia-dark-red-75.swatch {background-color: @eia-dark-red-75; border-color: @eia-dark-red-75 }
.eia-dark-red-50.swatch {background-color: @eia-dark-red-50; border-color: @eia-dark-red-50 }
.eia-dark-red-25.swatch {background-color: @eia-dark-red-25; border-color: @eia-dark-red-25 }
.eia-red {background-color: @eia-red; border-color: @eia-red }
.eia-light-red-25.swatch {background-color: @eia-light-red-25; border-color: @eia-light-red-25 }
.eia-light-red-50.swatch {background-color: @eia-light-red-50; border-color: @eia-light-red-50 }
.eia-light-red-75.swatch {background-color: @eia-light-red-75; border-color: @eia-light-red-75 }
.eia-light-red.swatch {background-color: @eia-light-red; border-color: @eia-light-red }

.eia-dark-yellow.swatch {background-color: @eia-dark-yellow; border-color: @eia-dark-yellow }
.eia-dark-yellow-75.swatch {background-color: @eia-dark-yellow-75; border-color: @eia-dark-yellow-75 }
.eia-dark-yellow-50.swatch {background-color: @eia-dark-yellow-50; border-color: @eia-dark-yellow-50 }
.eia-dark-yellow-25.swatch {background-color: @eia-dark-yellow-25; border-color: @eia-dark-yellow-25 }
.eia-yellow {background-color: @eia-yellow; border-color: @eia-yellow }
.eia-light-yellow-25.swatch {background-color: @eia-light-yellow-25; border-color: @eia-light-yellow-25 }
.eia-light-yellow-50.swatch {background-color: @eia-light-yellow-50; border-color: @eia-light-yellow-50 }
.eia-light-yellow-75.swatch {background-color: @eia-light-yellow-75; border-color: @eia-light-yellow-75 }
.eia-light-yellow.swatch {background-color: @eia-light-yellow; border-color: @eia-light-yellow }

.eia-dark-purple.swatch {background-color: @eia-dark-purple; border-color: @eia-dark-purple }
.eia-dark-purple-75.swatch {background-color: @eia-dark-purple-75; border-color: @eia-dark-purple-75 }
.eia-dark-purple-50.swatch {background-color: @eia-dark-purple-50; border-color: @eia-dark-purple-50 }
.eia-dark-purple-25.swatch {background-color: @eia-dark-purple-25; border-color: @eia-dark-purple-25 }
.eia-purple {background-color: @eia-purple; border-color: @eia-purple }
.eia-light-purple-25.swatch {background-color: @eia-light-purple-25; border-color: @eia-light-purple-25 }
.eia-light-purple-50.swatch {background-color: @eia-light-purple-50; border-color: @eia-light-purple-50 }
.eia-light-purple-75.swatch {background-color: @eia-light-purple-75; border-color: @eia-light-purple-75 }
.eia-light-purple.swatch {background-color: @eia-light-purple; border-color: @eia-light-purple }

.eia-dark-brown.swatch {background-color: @eia-dark-brown; border-color: @eia-dark-brown }
.eia-dark-brown-75.swatch {background-color: @eia-dark-brown-75; border-color: @eia-dark-brown-75 }
.eia-dark-brown-50.swatch {background-color: @eia-dark-brown-50; border-color: @eia-dark-brown-50 }
.eia-dark-brown-25.swatch {background-color: @eia-dark-brown-25; border-color: @eia-dark-brown-25 }
.eia-brown {background-color: @eia-brown; border-color: @eia-brown }
.eia-light-brown-25.swatch {background-color: @eia-light-brown-25; border-color: @eia-light-brown-25 }
.eia-light-brown-50.swatch {background-color: @eia-light-brown-50; border-color: @eia-light-brown-50 }
.eia-light-brown-75.swatch {background-color: @eia-light-brown-75; border-color: @eia-light-brown-75 }
.eia-light-brown.swatch {background-color: @eia-light-brown; border-color: @eia-light-brown }

.eia-black.swatch {background-color: @eia-black; border-color: @eia-black }
.eia-black-75.swatch {background-color: @eia-black-75; border-color: @eia-black-75 }
.eia-black-50.swatch {background-color: @eia-black-50; border-color: @eia-black-50 }
.eia-black-25.swatch {background-color: @eia-black-25; border-color: @eia-black-25 }
.eia-middle-grey {background-color: @eia-middle-grey; border-color: @eia-middle-grey }
.eia-white-25.swatch {background-color: @eia-white-25; border-color: @eia-white-25 }
.eia-white-50.swatch {background-color: @eia-white-50; border-color: @eia-white-50 }
.eia-white-75.swatch {background-color: @eia-white-75; border-color: @eia-white-75 }
.eia-white.swatch {background-color: @eia-white; border-color: @eia-white }

/*
.eia-000000 {background-color: @eia-black; border-color: @eia-black}
.eia-111111 {background-color: @eia-111111; border-color: @eia-111111}
.eia-222222 {background-color: @eia-222222; border-color: @eia-222222}
.eia-333333 {background-color: @eia-dark-grey; border-color: @eia-dark-grey}
.eia-444444 {background-color: @eia-444444; border-color: @eia-444444}
.eia-555555 {background-color: @eia-555555; border-color: @eia-555555}
.eia-666666 {background-color: @eia-grey; border-color: @eia-grey}
.eia-767676 {background-color: @eia-767676; border-color: @eia-767676}
.eia-888888 {background-color: @eia-888888; border-color: @eia-888888}
.eia-999999 {background-color: @eia-light-grey; border-color: @eia-light-grey}
.eia-aaaaaa {background-color: @eia-aaaaaa; border-color: @eia-aaaaaa}
.eia-b2b2b2 {background-color: @eia-b2b2b2; border-color: @eia-b2b2b2}
.eia-bbbbbb {background-color: @eia-bbbbbb; border-color: @eia-bbbbbb}
.eia-c3c3c3 {background-color: @eia-c3c3c3; border-color: @eia-c3c3c3}
.eia-cccccc {background-color: @eia-silver; border-color: @eia-silver}
.eia-d4d4d4 {background-color: @eia-d4d4d4; border-color: @eia-d4d4d4}
.eia-dddddd {background-color: @eia-dddddd; border-color: @eia-dddddd}
.eia-e5e5e5 {background-color: @eia-e5e5e5; border-color: @eia-e5e5e5}
.eia-eeeeee {background-color: @eia-eeeeee; border-color: @eia-eeeeee}
.eia-f6f6f6 {background-color: @eia-f6f6f6; border-color: @eia-f6f6f6}
.eia-ffffff {background-color: @eia-white; border-color: @eia-white}color: @eia-white; border-color: @eia-white}
*/